<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin Dashboard - Assignment Grading System</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}">
    </head>
    <body>
        <header class="header">
            <div class="header-content">
                <div class="subheader">
                    <h4 class="welcome">Welcome Admin</span></h4>
                    <button class="btn-primary logout-button" onclick="logout()">Logout</button>
                </div>
                <h1>Admin Dashboard</h1>
            </div>
        </header>

        <div class="container">

            <!-- Assignments -->
            <div class="card">
                <h2 class="card-title">Assignments</h2>
                <ul class="assignment-list">
                    <!-- Dynamic content will be injected here -->
                </ul>
            </div>
            <div class="action">
                <button class="btn-checkGrade" onclick="window.location.href = '/assignment-creation';" aria-label="Create a new assignment">+ New Assignment</button>
            </div>
        </div>
        
        <script type="text/javascript" th:src="@{/js/logout.js}"></script>
        <script type="text/javascript" th:src="@{/js/adminDashboard.js}"></script>
    </body>
</html>