<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>System Admin Dashboard</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/adminDashboard.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/logout.css}">

</head>

<body>
    <div class="dashboard-container">
        <!-- Logout form -->
        <form th:action="@{/logout}" method="post" style="display:inline;">
            <button type="submit" class="logout-button">Logout</button>
        </form>

        <!-- </form> -->
        <h1 class="dashboard-title">System Admin Dashboard</h1>

        <div class="card-grid">
            <a th:href="@{/admin/manage-institutions}" class="card">
                <h2>🏫 Manage Institutions</h2>
                <p>Add and manage institutions in the system.</p>
            </a>

            <div class="card disabled">
                <h2>📊 View Analytics</h2>
                <p>Coming soon...</p>
            </div>
        </div>
    </div>
</body>

</html>