<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Student dashboard for managing courses, upcoming and submitted assignments.">
    <meta name="keywords" content="student dashboard, assignments, courses, grading system">
    <title>Student Dashboard</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

    <link rel="stylesheet" th:href="@{/css/studentDashboard.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/logout.css}">
</head>

<body>
    <div class="main-layout">
        <!-- Sidebar -->
        <aside class="sidebar">
            <h2 class="sidebar-title">Your Courses</h2>

            <!-- Add Course Form -->
            <form id="addCourseForm" th:action="@{/api/student/courses/enroll}" method="post" class="add-course-form">
                <input id="courseCode" type="text" name="courseCode" placeholder="Enter Course Code" required>
                <button type="submit" class="btn-add">Add</button>
            </form>

            <!-- Course List -->
            <ul class="course-list">
                <li id="noCourseSelectedMsg" th:if="${#lists.isEmpty(courses)}">No courses enrolled</li>
                <li th:each="course : ${courses}">
                    <a href="#" th:title="${course.name}" th:attr="data-id=${course.id}, 
                                data-code=${course.courseCode}, 
                                data-name=${course.name}">
                        <h4><b th:text="${course.courseCode}">Code</b></h4>
                        <!-- <i th:text="${course.name}">Name</i> -->
                    </a>
                </li>
            </ul>

            <!-- Logout -->
            <div class="sidebar-logout">
                <form th:action="@{/logout}" method="post">
                    <button type="submit" class="logout-button">Logout</button>
                </form>
            </div>
        </aside>

        <!-- Content -->
        <main class="content">
            <h2 id="selectedCourseName" class="selected-course-name">
                📖...
            </h2>

            <div id="courseContent">
                <div id="assignments-container"></div>
            </div>
        </main>
    </div>

    <script th:src="@{/js/studentDashboard.js}"></script>
</body>

</html>